body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* NAVBAR */
header {
  text-transform: uppercase;
  background-color: #FFF;
  padding: 16px 0 16px 32px;
  font-size: 15px;
  box-shadow: 0 1px 16px rgba(0, 0, 0, .4);
}

/*
*/
#logo, nav, li {
  display: inline-block;
}

#logo {
  background-color: #2196F3;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

#hamburger-content nav {
  display: inline-block;
  line-height: 48px;
  vertical-align: top;
}

#hamburger-content li {
  margin-left: 32px;
}
#hamburger-content li a, .button {
  text-decoration: none;
  color: #333;
}


#hamburger, #hamburger-content {
  display: inline;
}

#hamburger-button {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  vertical-align: top;
  padding: 0;
  line-height: 47px;
  float: right;
  margin-right: 32px;
}

#hamburger-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

#hamburger-sidebar {
  display: none;
  position: fixed;
  width: 84%;
  z-index: 20;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform .2s ease-out;
}
#hamburger-sidebar li {
  transform: translateX(20%);
  padding: 20px 20px;
  display: block;
}

#hamburger-sidebar li a {
  text-decoration: none;
  color: black;
}
#hamburger-sidebar-header {
  background: url(../images/sidebar-header.png) center;
  background-size: cover;
  height: 128px;
}
#hamburger-sidebar-body {
  padding: 16px 8px;
}
#hamburger-sidebar-body li:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
#hamburger-sidebar-body li:first-child:before {
  background-image: url(../images/icons/discover.svg);
}
#hamburger-sidebar-body li:nth-child(2):before {
  background-image: url(../images/icons/how.svg);
}
#hamburger-sidebar-body li:nth-child(3):before {
  background-image: url(../images/icons/about.svg);
}
#hamburger-sidebar-body li:last-child:before {
  background-image: url(../images/icons/qna.svg);
}
#hamburger-sidebar-body .button {
  margin-top: 16px;
  text-align: center;
  float: none;
  display: block;
  height: auto;
  line-height: inherit;
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  #hamburger-content {
    display: none;
  }
  .nav .pasla {
    display: none;
  }

  #hamburger-button, #hamburger-sidebar,
  .hamburger-activated #hamburger-overlay {
    display: block;
  }

  .hamburger-activated #hamburger-sidebar {
    transform: translateX(0);
  }
}


/*Dropdown*/
.dropdown a {
  background-color: white;
  border: none;
}

.dropdown a:hover  {
  background-color: white;
  color: black;
}

.btn-default:active:hover{
  background-color: white;
}

.btn-default:active, .open > .dropdown-toggle.btn-default{
  background-color: white;
}

.btn-default:active, .open > .dropdown-toggle.btn-default:hover{
  background-color: white;
}

.btn-default:active{
  background-color: white;
}

/*.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: left;
list-style: none;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,.15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
box-shadow: 0 6px 12px rgba(0,0,0,.175);
}*/

.nav {
  position: fixed;
  display: none;
  top: 0;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1000;
}

.dropdown a {
  background-color: white;
  border: none;
}

.dropdown a:hover {
  background-color: white;
  color: black;
}

.displayflex {
  display: flex;
}


.nav .pasla {
  display: none;
}

.nav > ul  {
  display: flex;
  justify-content: space-around;
  flex-basis: 80%;
  text-align: center;
  background-color: #ffffff;
  border-top: solid 1px rgba(75, 67, 67, 0.5);
  border-bottom: solid 1px rgba(75, 67, 67, 0.5);
  height: 60px;
  background-color: white;
}

.nav > ul > li {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;

}

.nav > ul > li > a {
  color:  rgba(75, 67, 67, 1);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none !important;
  border-radius: 2px;
  padding: 5px;
}

.nav > ul > li:hover {
  border-bottom: solid 5px rgba(75, 67, 67, 0.7);
  transition: 0.6s;
}

.nav > ul > li:hover a {
  padding-bottom: 0;
  transition: 0.6s;
}

/* NAVBAR */

.parallax {
  background-image: url("http://www.unautrepainunautregout.fr/img/photos/zoom/accueil2.jpg");
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* LIGHTBOX */
.modal-dialog {
  width: 80%;
  height: auto;
  max-height: 1000px;
}

.modal-content{
  width: 1400px;
  height: 730px;

}

.plus{
  width:1000px;
  height: 650px;
}

.lightBox{
  width: 400px;
  height: 300px;
  border-color: white;
  background-color: white;
  box-shadow: 5px 5px 5px grey;
}

.lightBox:hover{
  background-color: white;
  border-color: white;
}

.lightBox:active{
  background-color: white;
  border-color: white;
}

.btn-primary:active:hover{
  background-color: white;
  border-color: white;
}

.row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.row1{
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.paquet2{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.prod{
   margin-top: 15px;
  /*margin-bottom: 15px;*/
  /*margin-left: 8px;
  margin-right: 8px;*/
}

.prod-top{
  width: 800px;
  height: 600px;
}

.prod-photo{
  width: 800px;
  height: 620px;
  border-color: white;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
}

.prod-photo:hover{
  background-color: white;
  border-color: white;
}

.prod-photo:active{
  background-color: white;
  border-color: white;
}

.btn-primary:active:hover{
  background-color: white;
  border-color: white;
}

@media only screen and (max-width: 900px){
   .paquet2{
      flex-wrap: wrap;
  }
  .prod-photo{
    width: 400px;
    height: 300px;
    justify-content: center;
  }
}

/* LIGHTBOX */

section h2{
  text-align: center;
}


/* FORMULAIRE */

/*formulaire*/
.position{
  width: 500px;
  margin-top: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.position input, textarea{
  margin-top: 20px;
}

.button-formulaire{
  display:block;
  width:150px;
  line-height:50px;
  text-align:center;
  vertical-align:middle;
  background-color: white;
  border-radius: 10px;
  color: black;
  font-size-adjust: auto;
  font-weight: bold;
  margin-left: 180px;
  opacity: 1;
  box-shadow: 10px 5px 5px #4f311c;
}

.button-formulaire:hover{
  background-color: #4f311c;
  color: white;
}


h2 {
  margin-top: 20px;
  font-family: 'Merriweather', serif;
}




/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* FORMULAIRE */

/* MAP & HORAIRES */

/*horaires*/
.titre{
  text-align: center;
  width: 100%;
}

section {
  /*
  background-color: #222;
  */
  display: flex;
  justify-content:center;
}

.wrapper {
  display: inherit;
  flex-wrap: wrap;
  justify-content:center;
  align-items: flex-start;>>>>>>> dev
  padding: 20px;
  width: 80%;
  background-color: white;
}

.map {
  width: 600px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.address {
  width: 360px;
  height: 410px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border: 3px;
  border-style: solid;
  border-color: #eee;
  border-radius: 10px;
}
/* MAP & HORAIRES */

/*footer*/
footer {
  width: 100%;
  z-index: 1;
  background-color: #ccbdb9;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
  justify-content: center;
  padding: 0;
}

footer ul {
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding: 0;
  padding-top: 20px;
}

footer ul li {
  list-style: none;
}

/*footer réseaux sociaux*/
footer ul li a {
  color: black;
  cursor: pointer;
}

.social {
  display: inherit;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.social3 {
  display: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}

.social > ul > li {
  padding: 5px;
}

/*footer §*/
footer p{
  text-align: center;
}

footer p a{
  text-align: center;
  color: black;
}

/*n° de téléphone cliquable*/
.mobilesOnly {
  visibility:hidden;
}

/*image*/
.img-footer {
  overflow:hidden;
  border-radius:150px;
  width:37px;
  height:37px;
}
