#nav ul {
   display: flex;
   justify-content: center;
   flex-wrap: nowrap;
   text-align: center;
   background-color: #ffffff;
   border-top: solid 1px rgba(75, 67, 67, 0.5);
   border-bottom: solid 1px rgba(75, 67, 67, 0.5);
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   }

#nav li {
   flex-basis: 150px;
   flex-grow: 150px;
   flex-shrink: 150px;
   display: inline-block;
   margin-left: 10px;
   margin-right: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
 }

 #nav a {
    color:  rgba(75, 67, 67, 1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none !important;
    border-radius: 2px;
    padding: 5px;
     }

#nav li:hover {
    border-bottom: solid 5px rgba(75, 67, 67, 0.7);
}

/*footer*/
footer {
width: 100%;
z-index: 1;
background-color: #ccbdb9;
}

footer div ul{
  text-align: center;
}

footer div ul li {
padding-top: 20px;
margin-left: 50px;
list-style: none;
}

/*footer réseaux sociaux*/
footer div ul li a {
color: black;
cursor: pointer;
}

/*footer §*/
footer div p{
  text-align: center;
}

footer div p a{
  text-align: center;
  color: black;
}

/*n° de téléphone cliquable*/
  .mobilesOnly {
    visibility:hidden;
  }

/*image*/
.img{
  overflow:hidden;
   border-radius:150px;
   width:37px;
   height:37px;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

h2 {
  margin-top: 20px;
}

section {
  background-color: #222;
  display: flex;
  justify-content:center;
}

.wrapper {
  display: inherit;
  flex-wrap: wrap;
  justify-content:center;
  align-items: flex-start;>>>>>>> dev

  padding: 20px;

  width: 80%;
  background-color: white;
}

.map {
  width: 600px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.address {
  width: 360px;
  height: 410px;
  text-align: center;

  padding: 20px;
  margin: 20px;

  border: 3px;
  border-style: solid;
  border-color: #eee;
  border-radius: 10px;
}

li {
  list-style-type: none;
}
