extends layout

block content
	a(href="/admin") Retour aux produits
	br
	a(href="/logout") Se déconnecter
	
	form(method="POST" enctype="multipart/form-data" action='/admin/modify?idProduit='+ product.id)
		h1 Modifier un produit
		if message
			br
			h2= message
			br
		p Nom du produit :
		input(type="text" name="product_name" placeholder="Nom du produit" value= product.name)
		br
		br
		p Ingrédients :
		input(type="text" name="ingredients" placeholder="Ingredients" value= product.ingredients)
		br
		br
		p Description
		textarea(id="product_description" name="product_description" placeholder="Description du produit" rows='6' cols='50')=  product.description
		br
		br
		p Photo
		img(src= "/images/" +product.picture)
		input(type="file" name="product_picture")
		br
		br
		p Catégorie
		input(type="text" name="category" placeholder="Catégorie" value= product.category)
		br
		br
		button(type="submit" onclick="return confirm('Voulez-vous modifier cet élément ?');") Enregistrer
	
