extends layout
append head
	link(rel='stylesheet', href='/css/admin.css')
block content
	a(class="retour" href="/admin") ← Retour aux produits
	a(class="deconnecte" href="/logout") Se déconnecter
	
	form(method="POST" enctype="multipart/form-data" action='/admin/modify-section?idSection='+ section.id)
		h1 Modifier un article
		if message
			br
			h2= message
			br
		p Titre du paragraphe :
		input(type="text" name="section_name" placeholder="Titre du paragraphe" value= section.title)
		br
		br
		p.wysiwyg Contenu du paragraphe :
		textarea.wtextarea(id="product_description" name="paragraph" rows='6' cols='50')=  section.text
		br
		br
		p.picturetext Photo
		img(src= "/images/" +section.picture).picture
		input(class="chose" type="file" name="section_picture")
		br
		br
		button(class="save" type="submit" onclick="return confirm('Voulez-vous modifier cet élément ?');") Enregistrer
	script(src='https://cloud.tinymce.com/stable/tinymce.min.js')
	script.
		tinymce.init({ selector:'textarea' });
