footer
  ul
    li
      a(href='#') Notre maison
    li
      a(href='#') Produits
    li
      a(href='#') Nous contacter
  div
    p.mobilesOnly
      | Appeler le
      a(href='callto:0102030405') 0102030405
      // Skype
    p
      | Adresse : 11, rue de Poissy
      br
      | 75005 Paris
  .social
    ul.social3
      li
        a(href='http://www.chartequalite-artisanat.com/charte-qualite-artisanat') Charte qualité
      li
        a(href='https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000169225&fastPos=2&fastReqId=1752492258&categorieLien=cid&oldAction=rechTexte') Norme hygiène
      li
        a(href='#(page.hmtl)')
          img.img-footer(src='images/reseaux/pmr.jpg', alt='PMR')
    ul.social3
      li
        a(href='http://www.facebook.com')
          img.img-footer(src='images/reseaux/fb.png', alt='FB')
      li
        a(href='https://www.instagram.com')
          img.img-footer(src='images/reseaux/insta.jpg', alt='insta')
      li
        a(href='https://twitter.com')
          img.img-footer(src='images/reseaux/twitter.jpg', alt='twitter')
