extends layout
block content
  
  section.position
    h2 Nous contacter
    
    p#contactus Envoyer-nous un mail si vous avez des questions et/ou des suggestions.
    form(method="post" action="/sendamail")
      input#name(type='text', name='name', placeholder='Nom et prénom', size='60', maxlength='40')
      input#email(type='email', name='subject', placeholder='Adresse e-mail', size='60', maxlength='40')
      input#subject(type='text', name='subject', placeholder='Sujet', size='60', maxlength='40')
      textarea#message(name='message', placeholder='Message', rows='10', cols='60')
      // Notre boite de vérification
      .g-recaptcha(data-sitekey='6LcipTcUAAAAABgl54LzJvTI7AcL4EqAviJf81Xo')
      button#envoi.button-formulaire(type="submit") Envoi
      #statut
  section.carte
    .wrapper
      .titre
        h2 Coordonnées
      .map.col-md-6.col-xs-12
        iframe(width='600', height='450', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?key=AIzaSyATcbvaAwSAIjAyjQxplevI6OiS01Yo8RQ&q=11+rue+de+Poissy,Paris+France', allowfullscreen='')
      .infospratiques.col-md-6.col-xs-12
        h2 Adresse :
        p
          | 11 rue de Poissy
          br
          | 75005 Paris
        hr  
        h2=sections[2].title
        ul#horaires.horaires!=sections[2].text
  section.infospratiques2
    h2 Accès PMR
    p
      | En vue de la loi du 11 février 2005, nous avons mis en place tous les dispositifs pour rendre la boutique accesible à tous
      | (Rampe d'accès, Repérage Podotactile, Porte automatisée, ...). N'hésitez pas à nous solliciter.
