extends layout
block content

  .parallax
    h1.titre Bienvenue sur le site de la boulangerie Au Bon Pain 
  .container
    section.baltha
      .row
        .col-xs-12.col-md-5
          .loremipsum          
            h2=sections[0].title
            p!=sections[0].text
        .col-xs-12.col-md-5.col-md-offset-1
          .loremimage
            img(src='images/' +sections[0].picture , alt='pain')
  .parallax2
  section#histoire.baltha
    .container
      .row
        .col-xs-12.col-md-5
          .loremimage
            img(src='images/' +sections[1].picture, alt='pain')
        .col-xs-12.col-md-5.col-md-offset-1
          .loremipsum
            h2=sections[1].title
            p!=sections[1].text
      .row
        .col-xs-12
          p.citation
            | "Nous traitons la pâte pour lui donner un goût délicieux,
            br
            |  comme si notre vie en dépendait."
        .col-xs-12
          h3.lesproduits Découvrez nos produits
      .row
        .col-md-4.col-xs-12(class='produitcentréresponsive')
          a(href='produits.html')
            img.imgproduit(src='img_projet/meuleaulevain.jpg', alt='pain')
        .col-md-4.col-xs-12(class='produitcentréresponsive')
          a(href='produits.html')
            img.imgproduit(src='img_projet/millefeuille.jpg', alt='pain')
        .col-md-4.col-xs-12(class='produitcentréresponsive')
          a(href='produits.html')
            img.imgproduit(src='images/vien6.jpg', alt='pain')

  
