extends layout
block content

  .parallax
  .container-fluid
    .row
      .prod-top
        img#1.btn.btn-primary.btn-lg.prod-photo(type='button', data-toggle='modal', data-target='#myModal', src='images/pat1.jpg', alt='Northern Lights, Norway')
        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
          .modal-dialog.modal-lg(role='document')
            .modal-content
              .modal-header
              .modal-body.text-center
                .row2
                  .col-xs-12.col-sm-9
                    img.plus(src='images/pat1.jpg', alt='')
                  .row2
                    p.col-xs-12.col-sm-3 Nos delicieuses patisseries
      .row1
        .paquet2
          .prod
            img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal1', src='images/pat19.jpg', alt='Northern Lights, Norway')
            #myModal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
              .modal-dialog.modal-lg(role='document')
                .modal-content
                  .modal-header
                  .modal-body.text-center
                    .row2
                      .col-xs-6.col-sm-9
                        img.plus(src='images/pat19.jpg', alt='')
                      .row2
                        p.col-xs-6.col-sm-3 Nos delicieuses patisseries
          .prod
            img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal2', src='images/pat3.jpg', alt='Northern Lights, Norway')
            #myModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
              .modal-dialog.modal-lg(role='document')
                .modal-content
                  .modal-header
                  .modal-body.text-center
                    .row2
                      .col-xs-6.col-sm-9
                        img.plus(src='images/pat3.jpg', alt='')
                      .row2
                        p.col-xs-6.col-sm-3 Nos delicieuses patisseries
        .paquet2
          .prod
            img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal3', src='images/pat4.jpg', alt='Northern Lights, Norway')
            #myModal3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
              .modal-dialog.modal-lg(role='document')
                .modal-content
                  .modal-header
                  .modal-body.text-center
                    .row2
                      .col-xs-6.col-sm-9
                        img.plus(src='images/pat4.jpg', alt='')
                      .row2
                        p.col-xs-6.col-sm-3 Nos delicieuses patisseries
          .prod
            img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal4', src='images/pat5.jpg', alt='Northern Lights, Norway')
            #myModal4.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
              .modal-dialog.modal-lg(role='document')
                .modal-content
                  .modal-header
                  .modal-body.text-center
                    .row2
                      .col-xs-6.col-sm-9
                        img.plus(src='images/pat5.jpg', alt='')
                      .row2
                        p.col-xs-6.col-sm-3 Nos delicieuses patisseries
    .row
      .paquet2
        .prod
          img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal5', src='images/pat6.jpg', alt='Northern Lights, Norway')
          #myModal5.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                .modal-body.text-center
                  .row2
                    .col-xs-6.col-sm-9
                      img.plus(src='images/pat6.jpg', alt='')
                    .row2
                      p.col-xs-6.col-sm-3 Nos delicieuses patisseries
        .prod
          img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal6', src='images/pat7.jpg', alt='Northern Lights, Norway')
          #myModal6.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                .modal-body.text-center
                  .row2
                    .col-xs-6.col-sm-9
                      img.plus(src='images/pat7.jpg', alt='')
                    .row2
                      p.col-xs-6.col-sm-3 Nos delicieuses patisseries
      .paquet2
        .prod
          img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal7', src='images/pat8.jpg', alt='Northern Lights, Norway')
          #myModal7.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                .modal-body.text-center
                  .row2
                    .col-xs-6.col-sm-9
                      img.plus(src='images/pat8.jpg', alt='')
                    .row2
                      p.col-xs-6.col-sm-3 Nos delicieuses patisseries
        .prod
          img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal8', src='images/pat9.jpg', alt='Northern Lights, Norway')
          #myModal8.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                .modal-body.text-center
                  .row2
                    .col-xs-6.col-sm-9
                      img.plus(src='images/pat9.jpg', alt='')
                    .row2
                      p.col-xs-6.col-sm-3 Nos delicieuses patisseries
    .row
      .paquet2
        .prod
          img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal9', src='images/pat10.jpg', alt='Northern Lights, Norway')
          #myModal9.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                .modal-body.text-center
                  .row2
                    .col-xs-6.col-sm-9
                      img.plus(src='images/pat10.jpg', alt='')
                    .row2
                      p.col-xs-6.col-sm-3 Nos delicieuses patisseries
        .prod
          img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal10', src='images/pat11.jpg', alt='Northern Lights, Norway')
          #myModal10.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                .modal-body.text-center
                  .row2
                    .col-xs-6.col-sm-9
                      img.plus(src='images/pat11.jpg', alt='')
                    .row2
                      p.col-xs-6.col-sm-3 Nos delicieuses patisseries
      .paquet2
        .prod
          img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal11', src='images/pat12.jpg', alt='Northern Lights, Norway')
          #myModal11.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                .modal-body.text-center
                  .row2
                    .col-xs-6.col-sm-9
                      img.plus(src='images/pat12.jpg', alt='')
                    .row2
                      p.col-xs-6.col-sm-3 Nos delicieuses patisseries
        .prod
          img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal12', src='images/pat13.jpg', alt='Northern Lights, Norway')
          #myModal12.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                .modal-body.text-center
                  .row2
                    .col-xs-6.col-sm-9
                      img.plus(src='images/pat13.jpg', alt='')
                    .row2
                      p.col-xs-6.col-sm-3 Nos delicieuses patisseries
    .row
      .paquet2
        .prod
          img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal14', src='images/pat14.jpg', alt='Northern Lights, Norway')
          #myModal14.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                .modal-body.text-center
                  .row2
                    .col-xs-6.col-sm-9
                      img.plus(src='images/pat14.jpg', alt='')
                    .row2
                      p.col-xs-6.col-sm-3 Nos delicieuses patisseries
        .prod
          img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal15', src='images/pat15.jpg', alt='Northern Lights, Norway')
          #myModal15.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                .modal-body.text-center
                  .row2
                    .col-xs-6.col-sm-9
                      img.plus(src='images/pat15.jpg', alt='')
                    .row2
                      p.col-xs-6.col-sm-3 Nos delicieuses patisseries
      .paquet2
        .prod
          img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal16', src='images/pat16.jpg', alt='Northern Lights, Norway')
          #myModal16.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                .modal-body.text-center
                  .row2
                    .col-xs-6.col-sm-9
                      img.plus(src='images/pat16.jpg', alt='')
                    .row2
                      p.col-xs-6.col-sm-3 Nos delicieuses patisseries
        .prod
          img.btn.btn-primary.btn-lg.lightBox(type='button', data-toggle='modal', data-target='#myModal17', src='images/pat17.jpg', alt='Northern Lights, Norway')
          #myModal17.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                .modal-body.text-center
                  .row2
                    .col-xs-6.col-sm-9
                      img.plus(src='images/pat17.jpg', alt='')
                    .row2
                      p.col-xs-6.col-sm-3 Nos delicieuses patisseries
