extends layout
//-     res.render('produit', {product:results});
block content
  .container-fluid
    a(href="/") Accueil
    .
      - 
    a(href="/produits") Produits
    .
      - 
    a(href="/produit-"+product.id)= product.name
    .
      >
    br
    .row.row1produit
      .col-xs-12.col-md-7
        img.photo1produit(alt= product.name, src='images/'+ product.picture)
      .col-xs-12.col-md-5
        p.Nom!= product.name
        h3 Description
        p.Description!= product.description
        h3 Ingrédients
        p.Ingredients!= product.ingredients
