extends layout
include mixins
block content
  .parallax
    .container-fluid
      img#1.lightBox(alt= product.name, src='images/'+ product.picture)
        p= product.name

block content
  .parallax
  .container-fluid
    .row
      .prod-top
        +1produit(products[0])
      .row1
        +row(1)
  
    - var i = 5
    while i < products.length
      +row(i)
      - i=i+4
