h1 {
text-align: center;
text-shadow: 1px 1px 2px;
}

h2 {
text-align: center;
}

p {
font-size : 20px;
margin-left: 60px;
}

input {
height: 30px;
size : 150px;
margin-left: 50px;
}

.deco /*bouton*/{
  text-align: center;
  margin-bottom: 20px;
  margin-left: 50px;
  background-color: white;
  height: 40px;
  width: 100px;
  border: 0.5px solid grey;
  box-shadow: 3px 3px 3px grey;
  border-radius: 5px;
}

.retour/*retour aux produits*/{
  color: black;
}
.retour:hover{
  color:black;
}

.deconnecte{
  color: black;
  margin-right: 300px;
}

.deconnecte:hover{
  color:black;
}
